.App {
  background-color: hsl(0, 0%, 8%);
  width: 100%;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 14px;
}
.link_container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.userImage {
  border-radius: 50%;
}

.country {
  color: hsl(75, 94%, 57%);
  margin-top: -20px;
}

.desc {
  margin-top: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link_btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 20%);
  box-shadow: none;
  font-weight: 600;
  cursor: pointer;
  min-width: 80%;
  margin: auto;
}

.link_btn:hover {
  background-color: chocolate;
}

@media only screen and (min-width: 1440px) {
  .link_container {
    min-width: 20%;
  }
}
